<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>peliculas de godzila</title>
</head>
<body>
    <header>
        <a href="/">Inicio</a>
        <a href="kong"> peliculas de king kong</a>
    </header>
    <main>
        <h1>Las peliculas que debes de ver para el monsterverse</h1>
        <ul>
            <li><a href="https://es.wikipedia.org/wiki/Godzilla_(pel%C3%ADcula_de_2014)">Godzilla(2014)</a></li>
            <li><a href="https://es.wikipedia.org/wiki/Godzilla:_King_of_the_Monsters">Godzilla: King of the Monsters</a></li>

        </ul>
    </main>

</body>
</html>