<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>peliculas de Kong</title>
</head>
<body>
    <header>
        <a href="/">Inicio</a>
        <a href="godzila">Ver peliculas de Godzilla</a>
    </header>
    <main>
        <h1>Las peliculas que debes de ver</h1>
        <ul>
            <li><a href="https://es.wikipedia.org/wiki/Kong:_La_Isla_Calavera">Kong: La Isla Calavera</a></li>
        </ul>
    </main>

</body>
</html>